/* global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-50: #f6f3ef;
    --text-100: #ece6df;
    --text-200: #d9cdbf;
    --text-300: #c6b49f;
    --text-400: #b49c7e;
    --text-500: #a1835e;
    --text-600: #81694b;
    --text-700: #604e39;
    --text-800: #403426;
    --text-900: #201a13;
    --text-950: #100d09;
    
    --background-50: #f5f2f0;
    --background-100: #ebe6e0;
    --background-200: #d6ccc2;
    --background-300: #c2b3a3;
    --background-400: #ad9985;
    --background-500: #998066;
    --background-600: #7a6652;
    --background-700: #5c4d3d;
    --background-800: #3d3329;
    --background-900: #1f1a14;
    --background-950: #0f0d0a;
    
    --primary-50: #f8f2ec;
    --primary-100: #f1e6da;
    --primary-200: #e4ccb4;
    --primary-300: #d6b38f;
    --primary-400: #c99969;
    --primary-500: #bb8044;
    --primary-600: #966636;
    --primary-700: #704d29;
    --primary-800: #4b331b;
    --primary-900: #251a0e;
    --primary-950: #130d07;
    
    --secondary-50: #f7f1ee;
    --secondary-100: #efe4dc;
    --secondary-200: #dec9ba;
    --secondary-300: #ceae97;
    --secondary-400: #be9374;
    --secondary-500: #ad7852;
    --secondary-600: #8b6041;
    --secondary-700: #684831;
    --secondary-800: #453021;
    --secondary-900: #231810;
    --secondary-950: #110c08;
    
    --accent-50: #f0f8ed;
    --accent-100: #e0f0db;
    --accent-200: #c1e1b7;
    --accent-300: #a2d392;
    --accent-400: #84c46e;
    --accent-500: #65b54a;
    --accent-600: #51913b;
    --accent-700: #3c6d2c;
    --accent-800: #28481e;
    --accent-900: #14240f;
    --accent-950: #0a1207;
    
  }
  .dark {
    --text-50: #100d09;
    --text-100: #201a13;
    --text-200: #403426;
    --text-300: #604e39;
    --text-400: #81694b;
    --text-500: #a1835e;
    --text-600: #b49c7e;
    --text-700: #c6b49f;
    --text-800: #d9cdbf;
    --text-900: #ece6df;
    --text-950: #f6f3ef;
    
    --background-50: #0f0d0a;
    --background-100: #1f1a14;
    --background-200: #3d3329;
    --background-300: #5c4d3d;
    --background-400: #7a6652;
    --background-500: #998066;
    --background-600: #ad9985;
    --background-700: #c2b3a3;
    --background-800: #d6ccc2;
    --background-900: #ebe6e0;
    --background-950: #f5f2f0;
    
    --primary-50: #130d07;
    --primary-100: #251a0e;
    --primary-200: #4b331b;
    --primary-300: #704d29;
    --primary-400: #966636;
    --primary-500: #bb8044;
    --primary-600: #c99969;
    --primary-700: #d6b38f;
    --primary-800: #e4ccb4;
    --primary-900: #f1e6da;
    --primary-950: #f8f2ec;
    
    --secondary-50: #110c08;
    --secondary-100: #231810;
    --secondary-200: #453021;
    --secondary-300: #684831;
    --secondary-400: #8b6041;
    --secondary-500: #ad7852;
    --secondary-600: #be9374;
    --secondary-700: #ceae97;
    --secondary-800: #dec9ba;
    --secondary-900: #efe4dc;
    --secondary-950: #f7f1ee;
    
    --accent-50: #0a1207;
    --accent-100: #14240f;
    --accent-200: #28481e;
    --accent-300: #3c6d2c;
    --accent-400: #51913b;
    --accent-500: #65b54a;
    --accent-600: #84c46e;
    --accent-700: #a2d392;
    --accent-800: #c1e1b7;
    --accent-900: #e0f0db;
    --accent-950: #f0f8ed;
   
    --accent-500-rgb: 101, 181, 72;
  }
}
